
@theme "/usr/share/rofi/themes/Arc-Dark.rasi"

configuration {
	font: "FiraCode Nerd Font 14";
    show-icons: true;
}

window {
    width: 600px;
    height: 330px;
}

element-icon {
    size: 24px;
}
